* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #525B5A;
}

/* h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
} */
/*-----------------------section header-menu ---------------------*/
.header-menu {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 100;
    /* backdrop-filter: blur(10px); */
}

.section_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:space-around;
    min-height: 80px;
    align-items: center;
    background: white;
    /* background: rgba(red, green, blue, alpha); */
}


.navigation_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    list-style: none;
}

.navigation_link {
    text-decoration: none;
    color: #212121;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.navigation__item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}


/* анимация */
.navigation_link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #5ABEAF;
    transition: width 0.3s ease-in-out;
}
.navigation_link:hover::after {
    width: 100%;
}


#pricing {
    scroll-margin-top: 100px;
}
#info {
    scroll-margin-top: 100px;
}
#form {
    scroll-margin-top: 150px;
}
/*-----------------------section main---------------------*/
.main-banner_wrapper {
    display: grid;
    grid-template-columns: 438px 438px 438px;
    grid-template-rows: 320px 320px 320px; 
    gap: 40px;
}

.big-banner {
    grid-column: 1/4; /* столбцы */
    grid-row: 1/3; /* строки */

    min-width: 1392px;
    min-height: 513px;
    border-radius: 12px;
    margin-top: 151px;
    /* background: #CBFFF5 url(../img/main-man.png) no-repeat; */
    background: url(../img/main-man.png) no-repeat, url(../img/heading-big.png) no-repeat, linear-gradient(0deg, #CBFFF5 0%, #50A99B 100%);
    background-position: center bottom, center 15%, left top;
    /* background-position-x: center;
    background-position-y: bottom; */
    position: relative;
}

.big-banner__button {
    border-radius: 30px;
    background: #50A99B;
    color: #FFFFFF;
    width: 218px;
    height: 48px;
    text-align: center;
    border: none;
    position: absolute;
    bottom: 58px;
    right: 144px;
    box-shadow: 0px 4px 10px #3a3a3a;
    font-size: 16px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
.big-banner__button:hover {
    background: #FFFFFF;
    color: #50A99B;
}

/* mini-banners */

/* .mini-banners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    gap: 40px;
} */

.mini-banner {
    min-width: 438px;
    min-height: 320px;
    padding: 34px 31px;
    border-radius: 12px;
    position: relative;
    /* display: flex;
    flex-direction: column; */
}

.mini-banner__icon-wrapper {
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%; /* Делаем круг */
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 35px;
    right: 34px;
}
.mini-banner__title {
    margin-bottom: 12px;
    max-width: 75%;
    font-size: 24px;
    line-height: 34px;
}
.mini-banner__text {
    margin-bottom: 30px;
    margin-bottom: 12px;
    font-size: 18px;
    max-width: 75%;
    line-height: 140%;
}
.banner1{
    grid-column: 1/2;
    grid-row: 3/4; /* ряд */
    background: #FDDBDB;
}
.banner2{
    grid-column: 2/3;
    grid-row: 3/4; 
    background: #CFF1EC;
}
.banner3{
    grid-column: 3/4;
    grid-row: 3/4;
    background: #FFF6CA;
}

.mini-banner__button {
    width: 262px;
    height: 48px;
    border-radius: 30px;
    background-color: #0D1525;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    
    position: absolute;
    bottom: 31px;
    right: 88px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
.mini-banner__button:hover {
    background-color: #FFFFFF;
    color: #0D1525; 
    margin-top: auto;
}

.mini-banner__button:hover path {
    stroke: #0D1525;
}
/*-----------------------section pricing---------------------*/
.pricing {
    margin-top: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    /* justify-content:space-around; */
    gap: 60px;
}
.pricing_block1,
.pricing_block2 {
    width: 538px;
    height: 735px;
    border-radius: 16px;
    padding: 40px 45px;
    /* margin: ; */
}

.pricing_block1 {
    background: #F0FBF9;
}
.pricing_block2 {
    background: #1C404C;
    color: white;
}

.pricing_block__text {
    font-size: 18px;
}

.container_text {
    margin-right: 96px;
}

.pricing_block__list {
    list-style-image:url(../img/vector.png);
    margin-bottom: 61px;
    /* list-style-position: outside; */
    margin-left: 16px;
}

.pricing_block__item {
    font-size: 20px;
    margin-bottom: 20px;
}
.pricing_block__title {
    font-size: 30px;
    margin-bottom: 8px;
    color: #0D1525;
}

.pricing_block2 .pricing_block__title {
    color: #ffffff;
}

.pricing_block__btn {
    justify-content: center;
    border-radius: 32px;
    font-size: 16px;
    min-width: 448px;
    min-height: 56px;
    border: none;
    position: absolute;
    bottom: 47px;
}

.btn1 {
    background-color: white;
    color: #0D1525;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.btn2 {
    background-color: #5ABEAF;
    color: #FFFFFF;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.btn1:hover {
    background-color: #5ABEAF;
    color: #FFFFFF;
}
.btn2:hover {
    background-color: #F0FBF9;
    color: #0D1525;
}

.price_item {
    display: flex;
    flex-direction: row;
    margin-top: 53px;
    margin-bottom: 33px;
}

.price_item__price {
    color: #5ABEAF;
    font-size: 48px;
    font-weight: 600;
}

.pricing_blocks__header__title {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    margin-bottom: 65px;
    justify-content: center;
}

.pricing_blocks__header{
    justify-content: center;
    max-width: 808px;
    text-align: center;
}

.pricing_block2 .pricing_block__text {
    color: #ffffff;
    font-weight: 300;
}
/*-----------------------section info---------------------*/
.info_wrapper {
    margin-top: 125px;
    margin-bottom: 125px;
}

.info_blocks {
    display: grid;
    grid-template-columns: 548px auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 60px;
}

.info_block1 {
    background: linear-gradient(0deg, #ffffff00 0%, rgba(0, 0, 0, 0.541) 100%), url(../img/info-card1.png);
    grid-column: 1/2;
    grid-row: 1/3;
    color: white;
    font-size: 30px;
}
.info_block2 {
    background: #CFF1EC; 
    grid-column: 2/3;
    grid-row: 1;
    position: relative;
    min-width: 384px;
    min-height: 240px;
}
.info_block3 {
    background: #FDDBDB;
    grid-column: 2/3;
    grid-row: 2;
    position: relative;
    min-width: 384px;
    min-height: 240px;
}
.info_block4 {
    background: #1C404C url(../img/lines-info.png);
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    min-width: 380px;
    min-height: 520px;
}

.info_block4 .info_block__text{
    color: white;
    font-size: 18px;
    margin-bottom: 60px;
}

.info_block4__title {
    color: white;
    font-size: 30px;
}

.info_block__text {
    color: #0D1525;
    font-size: 18px;
}

.info_block2__title,
.info_block3__title {
    color: #0D1525;
    font-size: 30px;
    position: absolute;
    bottom: 25px;
}

.info_block4__title {
    color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    bottom: 26px;
}

.info_block__icon {
    position: absolute;
    right: 17px;
    bottom: 49px;
}

.info_block4 .info_block__icon {
    position: absolute;
    right: 30px;
    bottom: 55px;
}

.info_block1,
.info_block2,
.info_block3, 
.info_block4 {
    padding: 5%;
    border-radius: 12px;
}

.info_block1__btn {
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    color: white;
    font-size: 16px;
    width: 396px;
    height: 39px;
    border-radius: 30px;
    position: absolute;
    bottom: 62px;
    transition: background-color 0.3s ease;
}

.info_block1__btn:hover {
    background-color: rgba(44, 42, 42, 0.3);
}

.info_title {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    text-align: center;
}

/* .container__info-text {
    display: flex;
    margin-right: 100px;
} */
.info_block2__title,
.info_block3__title,
.info_block4__title {
    margin-right: 83px;
}
/*-----------------------section form---------------------*/
.form_wrapper {
    background: #64D3C2;
    border-radius: 76px;
    padding: 33px 150px;
    max-width: 800px;
    font-family: "Inter", sans-serif;
}

.container_form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 33px;
}

.form_title {
    text-align: center;
}

.form_input-field {
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-width: 100%;
}

.textarea {
    resize: none;
    min-height: 100px;
    /* min-width: 100%; */
}

.form_button {
    background-color: #0D1525;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}

.form_button:hover {
    background-color: #ffffff;
    color: #0D1525; 
}

/*-----------------------footer---------------------*/
.footer_wrapper {
    margin-top: 92px;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    /* place-items: center; */
    align-items: start;
    justify-items: center;
    row-gap: 71px;
}

.footer_left-column {
    grid-column: 1/2;
    grid-row: 1/2;
}

.footer_right-column {
    grid-column: 2/3;
    grid-row: 1/2;
}
.footer-bottom {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
}
.footer_left-column,
.footer_right-column {
    text-decoration: none;
    color: #525B5A;
    /* align-items: start;
    justify-items: center; */
}

.footer_list {
    text-decoration: none;
    list-style: none;
}

.footer-title {
    font-size: 20px;
    color: #0D1525;
}

.footer_item {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer_item a{
    text-decoration: none;
    color: #525B5A;
}
.footer_item a::after{
    color: #333837;
}
.footer_item a:hover{
    text-decoration:underline;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 212px;
    color: #525B5A;
    font-family: "Inter", sans-serif; 
}
/*-----------------------АДАПТАЦИЯ---------------------*/
@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
    /* pricing */

    /* info */
    .info_blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    }

    .info_block1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .info_block2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .info_block3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .info_block4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}


@media (max-width: 765px) {
    .container {
        max-width: 760px;
        padding: 0 20px;
    }
    /* main */
    .main-banner_wrapper {
        display: grid;
        grid-template-columns: 650px ; /*  столбец */
        grid-template-rows: 1fr 320px 320px 320px; /* строка */
        gap: 30px;
        justify-content: center;
    }
    .big-banner {
        grid-column: 1/2;
        grid-row: 1/2;
        background: url(../img/main-man.png) no-repeat, url(../img/heading-big.png) no-repeat, linear-gradient(0deg, #CBFFF5 0%, #50A99B 100%);
        background-position: 95% bottom, center 10%, left top;
        background-size: 45%, 95%;
        min-width: 650px;
        min-height: 400px;
    }
    .banner1{
        grid-column: 1/2;
        grid-row: 2/3; /* ряд */
    }
    .banner2{
        grid-column: 1/2;
        grid-row: 3/4; 
    }
    .banner3{
        grid-column: 1/2;
        grid-row: 4/5; 
    }
    .big-banner__button {
        bottom: 30px;
        left: 40px;
    }
    .mini-banner__button {
        bottom: 40px;
        right: 30%;

    }
    .mini-banner__title {
        font-size: 30px;
    }
    .mini-banner__text {
        font-size: 20px;
    }
    .mini-banner__icon-wrapper {
        width: 80px;
        height: 80px;
        right: 45px;
        top: 45px;
    }
    /* pricing */
    .pricing_blocks {
        justify-content: center;
    }
    .pricing_block__text {
        font-size: 20px;
    }
    /* info */
    .info_blocks {
        display: grid;
        grid-template-columns: 548px;
        /* grid-template-rows: repeat(4, 1fr); */
        grid-template-rows: 520px 240px 240px 520px;
        grid-gap: 30px;
        justify-content: center;
    }

    .info_block1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .info_block2 {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 25px;
    }
    .info_block3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .info_block4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .info_block__text {
        font-size: 20px;
        line-height: 120%;
    }
    .info_block4 .info_block__text {
        font-size: 20px;
        line-height: 120%;
    }
    .info_block1__btn {
        bottom: 40px;
        left: 40px;
        width: 300px;
        height: 40px;
    }
    .info_block__icon {
        position: absolute;
        right: 17px;
        bottom: 49px;
    }
    .info_block4 .info_block__icon {
        position: absolute;
        right: 30px;
        bottom: 55px;
    }
    /* form */
    .form_wrapper {
        padding: 33px 130px;
        margin: 0 20px;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: 1990px;
        padding: 10px;
    }
}